/**
 * Config variables.
 */
@import "config";

/**
 * Utilities.
 */
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/family.scss/source/src/family';
@import '../node_modules/normalize.css/normalize.css';

/**
 * Breakpoint variables
 */
@import "breakpoints";

@import "base/**/*";
{% if layout == 'grid' %}
@import "layout/grid";
{% else %}
@import "layout/flex";
{% endif %}
@import "components/**/*";
@import "pages/**/*";
