{{ machine }}.mobile:
  label: mobile
  mediaQuery: ''
  weight: 0
  multipliers:
    - 1x
{{ machine }}.small:
  label: small
  mediaQuery: 'all and (min-width: 480px)'
  weight: 1
  multipliers:
    - 1x
{{ machine }}.medium:
  label: medium
  mediaQuery: 'all and (min-width: 768px)'
  weight: 2
  multipliers:
    - 1x
{{ machine }}.large:
  label: large
  mediaQuery: 'all and (min-width: 960px)'
  weight: 2
  multipliers:
    - 1x
{{ machine }}.wide:
  label: wide
  mediaQuery: 'all and (min-width: 1200px)'
  weight: 2
  multipliers:
    - 1x
