'use strict';

const gulp = require('gulp');
const plugins = require('gulp-load-plugins')({
  pattern: '*',
  rename: {
    'browser-sync': 'browserSync',
    'drupal-breakpoints-scss': 'breakpoints',
    'gulp-dart-sass': 'sass',
    'gulp-postcss': 'postcss',
    'gulp-rename': 'rename',
    'gulp-sass-glob': 'sassGlob',
    'gulp-sourcemaps': 'sourcemaps',
    'gulp-terser': 'terser'
  }
});
const config = require('./config');

function breakpoints () {
  return gulp.src('./{{ machine }}.breakpoints.yml')
    .pipe(plugins.breakpoints.ymlToScss(config.breakpoints))
    .pipe(plugins.rename('_breakpoints.scss'))
    .pipe(gulp.dest('./scss'));
}

function browserSync (cb) {
  if (config.browserSync.enabled) {
    plugins.browserSync.init({
      files: ['./css/**/*.css', './js/*.js'],
      port: config.browserSync.port,
      proxy: config.browserSync.hostname,
      open: config.browserSync.openAutomatically,
      reloadDelay: config.browserSync.reloadDelay,
      injectChanges: config.browserSync.injectChanges
    });
  }

  cb();
}

function scripts () {
  return gulp.src('./js/source/*.js')
    .pipe(plugins.sourcemaps.init())
    .pipe(plugins.terser())
    .pipe(plugins.sourcemaps.write())
    .pipe(gulp.dest('./js'));
}

function styles () {
  return gulp.src('./scss/**/*.scss')
    .pipe(plugins.sourcemaps.init())
    .pipe(plugins.sassGlob())
    .pipe(plugins.sass({ outputStyle: 'expanded' }))
    .pipe(plugins.postcss([plugins.autoprefixer(), plugins.cssnano()]))
    .pipe(plugins.sourcemaps.write())
    .pipe(gulp.dest('./css'));
}

function watch () {
  gulp.watch('./js/source/*.js', scripts);
  gulp.watch('./scss/**/*.scss', styles);
}

exports.breakpoints = breakpoints;
exports.browserSync = browserSync;
exports.scripts = scripts;
exports.styles = styles;
exports.watch = watch;
exports.build = gulp.series(breakpoints, gulp.parallel(styles, scripts));
exports.default = gulp.series(breakpoints, gulp.parallel(styles, scripts), watch);
