<?php

$info = [
  'fields' => [
    'primary' => t('Primary color'),
    'secondary' => t('Secondary color'),
    'text' => t('Text color'),
    'link' => t('Link color'),
    'admin' => t('Admin accent color'),
  ],
  'schemes' => [
    'default' => [
      'title' => t('Default'),
      'colors' => [
        'primary' => '#0071bc',
        'secondary' => '#e31c3d',
        'text' => '#333333',
        'link' => '#0071bc',
        'admin' => '#0074bd',
      ],
    ],
  ],
  'css' => 'css/color.css',
  'preview_html' => 'color/preview.html',
  'preview_library' => '{{ machine }}/color.preview',
];
